#!/usr/bin/env bash

# See https://docs.docker.com/compose/environment-variables/#the-env-file

# Nginx
NGINX_HOST=localhost
WEB_PORT=8000

# MySQL
MYSQL_VERSION=9.3.0
MYSQL_DATABASE=cm_db
MYSQL_USER=cm_user
